.menu {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 12px;
  &-title {
    text-transform: uppercase;
    display: inline-block;
  }
  &-links {
    float: right;
    a {
      text-decoration: none;
      margin: 10px;
    }
    padding: 0rem 1rem;
  }
}

